<%= render :partial => 'shared/table',
           :locals => {:width => '100%',
    			      			 :name => "parameters_field",
    						       :partial => "/search/parameters",
    						       :title => "Параметры поиска:",
    						       :hash => {:create_new_mer => false} } %>