<p><label> Выберите файл с изображением </label><br/>
<%= file_field_tag 'uploaded_picture', {:size => '40'} %></p>
<p><label> Название изображения </label><br/>
<%= text_field_tag 'title', '', {:size => '40'} %></p>



