<%= render :partial => 'shared/table', :locals => {:width => '100%',
    						 :name => "category_field",
    						 :partial => "/catalog/categories",
    						 :title => "Категории:",
    						 :hash => {} } %>