<div class="content-title"><a href=""><%= 'Создание профиля пользователя' %></a></div>
<br>
<% form_tag :action => 'person_create', :id => @actor do %>
  <%= render :partial => 'edit' %>
  <%= submit_tag 'Сохранить' %>
<% end %>
<%= link_to 'Назад', :action => 'show' %>